@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* TODO: set COLORS PALLETTE */
    --white: #ffffff;
    --color-primary:#3C7FF8;
    --color-light:#AEC4E5;
    --fuentePrincipal:'Poppins', sans-serif;
    --bs-modal-width: 1000px !important;
  }
  
html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  font-family: var(--fuentePrincipal) !important;
  font-size: 1.6rem;
  line-height: 1.5; 
}

h1{
  font-size: 3.6rem;
  font-weight: 700;
}
h2{
  font-size: 3.2rem;
  font-weight: 700;
}
h3{
  font-size: 3rem;
  font-weight: 700;
}
h4{
  font-size: 2.6rem;
  font-weight: 700;
}
h5{
  font-size: 2.2rem;
  font-weight: 700;
}

h6{
  font-size: 1.8rem;
  font-weight: 700;
}

.btn:disabled {
  pointer-events: none !important;
  opacity: var(--bs-btn-disabled-opacity) !important;
  background-color: #3C7FF8 !important;
  
}
.input-select {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  width: 100%;
  height: 3.2rem;
  border-radius: 3rem;
  border: 1px solid #2b5db6;
  background-color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding-right: 1.5rem; /* Ajusta este valor según el tamaño/apariencia de tu flecha */
}


.input-text {
  display:flex;
  width: 100%;
  height: 3.2rem;
  border-radius: 3rem;
  border: 1px solid #2b5db6;
  background-color: #fff;
  font-size: 1.3rem;
  text-align: center;
}


